<p>contact works!</p>


<form (submit)="print('submitted form')">
    <label for="name">Name:</label>
    <input requires ngModel name="name" (input)=print(name) #name = "ngModel" id="name" minlength="6" type="text"/> <br><br>
        <div *ngIf="name.touched && name.errors">
            <div *ngIf="name.errors.minlength">
                <label style="color:red">ERROR</label>
    
            </div>
        </div>

    <label for="phone">Phone:</label>
    <input id="phone" type="text"/> <br><br>


<button type="submit">Submit</button>
</form>
